body{
    background-color: rgb(105, 104, 192);
    color: aliceblue;
}
.headcomp{
    background-color: rgb(9, 13, 71);
    padding: 32px 0 7px 0;
}
.title{
    margin: 0px;
    display: flex;
    list-style-type: none;
}
.logout{
    margin-left: auto;
    padding-right: 15px;
}
.logout button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.brand{
    font-size: 26px;
}
.pages{
    margin-left: 5%;
    font-size: 18px;
}
.selected{
    font-size: 22px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.pages a:hover{
font-size: 24px;
}
.productlist{
    min-width: 300px;
    max-width: 500px;
}
.product{
    padding-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius:30px;
    background:linear-gradient(transparent 80%,rgba(0,0,0,0.7) 20%);
    z-index:1;
}
.product img{
    position: relative;
    width: 100%;
    border-radius:30px;
    z-index: -1;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.price{
    display: flex;
}
.Quantity{ 
    text-align: center;
}
.text{
    background-color: #c2fbd7;
}
.button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
}
.button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
.centeriteam{
    text-align: center;
}
.quantity-box{
    padding: 1.5%;
}